<hr/>
{% for article in articles %}
    <h2>{{ article.title }}</h2>
    <p>Created by {{ article.author }} ({{ article.category|default_if_none:'Без категории' }})
        at {{ article.created_at|date:'d.m.Y H:i:s' }}</p>
    <p>
    {% for i in article.tags.all %}
        <a href="{% url 'tag_filter_url' i.name %}">{{ i.name }}</a>
        {% endfor %}
    </p>
    <p>
        <a href="{% url 'article_view' article.pk %}">More...</a>
        <a href="{% url 'article_update' article.pk %}">Edit</a>
        <a href="{% url "article_delete" article.pk %}">Delete</a>
    </p>
    <hr/>
{% endfor %}